{% extends "../_layouts/layout_base.html" %} 

{% set headerNav = "lodash" %} 

{% block mainSidebar %}

<aside class="main-sidebar lodash">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="{% if pageActive == 'description' %}active{% endif %}">
                <a href="/lodash">
                    <i class="fa fa-free-code-camp"></i>
                    <span>解读 Lodash v4.17.4</span>
                </a>
            </li>

            <li class="treeview">
                <a href="javascript:void(0);">
                    <i class="fa fa-flag"></i>
                    <span>源码 - Array</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="/lodash/array#chunk"><i class="fa fa-circle-o"></i>_.chunk</a></li>
                    <li><a href="/lodash/array#compact"><i class="fa fa-circle-o"></i>_.compact</a></li>
                    <li><a href="/lodash/array#concat"><i class="fa fa-circle-o"></i>_.concat</a></li>
                    <li><a href="/lodash/array#difference"><i class="fa fa-circle-o"></i>_.difference</a></li>
                    <li><a href="/lodash/array#differenceBy"><i class="fa fa-circle-o"></i>_.differenceBy</a></li>
                    <li><a href="/lodash/array#differenceWith"><i class="fa fa-circle-o"></i>_.differenceWith</a></li>
                    <li><a href="/lodash/array#drop"><i class="fa fa-circle-o"></i>_.drop</a></li>
                    <li><a href="/lodash/array#dropRight"><i class="fa fa-circle-o"></i>_.dropRight</a></li>
                    <li><a href="/lodash/array#dropRightWhile"><i class="fa fa-circle-o"></i>_.dropRightWhile</a></li>
                    <li><a href="/lodash/array#dropWhile"><i class="fa fa-circle-o"></i>_.dropWhile</a></li>
                    <li><a href="/lodash/array#fill"><i class="fa fa-circle-o"></i>_.fill</a></li>
                    <li><a href="/lodash/array#findIndex"><i class="fa fa-circle-o"></i>_.findIndex</a></li>
                    <li><a href="/lodash/array#findLastIndex"><i class="fa fa-circle-o"></i>_.findLastIndex</a></li>
                    <li><a href="/lodash/array#head"><i class="fa fa-circle-o"></i>_.first -> head</a></li>
                    <li><a href="/lodash/array#flatten"><i class="fa fa-circle-o"></i>_.flatten</a></li>
                    <li><a href="/lodash/array#flattenDeep"><i class="fa fa-circle-o"></i>_.flattenDeep</a></li>
                    <li><a href="/lodash/array#flattenDepth"><i class="fa fa-circle-o"></i>_.flattenDepth</a></li>
                    <li><a href="/lodash/array#fromPairs"><i class="fa fa-circle-o"></i>_.fromPairs</a></li>
                    <li><a href="/lodash/array#head"><i class="fa fa-circle-o"></i>_.head</a></li>
                    <li><a href="/lodash/array#indexOf"><i class="fa fa-circle-o"></i>_.indexOf</a></li>
                    <li><a href="/lodash/array#initial"><i class="fa fa-circle-o"></i>_.initial</a></li>
                    <li><a href="/lodash/array#intersection"><i class="fa fa-circle-o"></i>_.intersection</a></li>
                    <li><a href="/lodash/array#intersectionBy"><i class="fa fa-circle-o"></i>_.intersectionBy</a></li>
                    <li><a href="/lodash/array#intersectionWith"><i class="fa fa-circle-o"></i>_.intersectionWith</a></li>
                    <li><a href="/lodash/array#join"><i class="fa fa-circle-o"></i>_.join</a></li>
                    <li><a href="/lodash/array#last"><i class="fa fa-circle-o"></i>_.last</a></li>
                    <li><a href="/lodash/array#lastIndexOf"><i class="fa fa-circle-o"></i>_.lastIndexOf</a></li>
                    <li><a href="/lodash/array#nth"><i class="fa fa-circle-o"></i>_.nth</a></li>
                    <li><a href="/lodash/array#pull"><i class="fa fa-circle-o"></i>_.pull</a></li>
                    <li><a href="/lodash/array#pullAll"><i class="fa fa-circle-o"></i>_.pullAll</a></li>
                    <li><a href="/lodash/array#pullAllBy"><i class="fa fa-circle-o"></i>_.pullAllBy</a></li>
                    <li><a href="/lodash/array#pullAllWith"><i class="fa fa-circle-o"></i>_.pullAllWith</a></li>
                    <li><a href="/lodash/array#pullAt"><i class="fa fa-circle-o"></i>_.pullAt</a></li>
                    <li><a href="/lodash/array#remove"><i class="fa fa-circle-o"></i>_.remove</a></li>
                    <li><a href="/lodash/array#reverse"><i class="fa fa-circle-o"></i>_.reverse</a></li>
                    <li><a href="/lodash/array#slice"><i class="fa fa-circle-o"></i>_.slice</a></li>
                    <li><a href="/lodash/array#sortedIndex"><i class="fa fa-circle-o"></i>_.sortedIndex</a></li>
                    <li><a href="/lodash/array#sortedIndexBy"><i class="fa fa-circle-o"></i>_.sortedIndexBy</a></li>
                    <li><a href="/lodash/array#sortedIndexOf"><i class="fa fa-circle-o"></i>_.sortedIndexOf</a></li>
                    <li><a href="/lodash/array#sortedLastIndex"><i class="fa fa-circle-o"></i>_.sortedLastIndex</a></li>
                    <li><a href="/lodash/array#sortedLastIndexBy"><i class="fa fa-circle-o"></i>_.sortedLastIndexBy</a></li>
                    <li><a href="/lodash/array#sortedLastIndexOf"><i class="fa fa-circle-o"></i>_.sortedLastIndexOf</a></li>
                    <li><a href="/lodash/array#sortedUniq"><i class="fa fa-circle-o"></i>_.sortedUniq</a></li>
                    <li><a href="/lodash/array#sortedUniqBy"><i class="fa fa-circle-o"></i>_.sortedUniqBy</a></li>
                    <li><a href="/lodash/array#tail"><i class="fa fa-circle-o"></i>_.tail</a></li>
                    <li><a href="/lodash/array#take"><i class="fa fa-circle-o"></i>_.take</a></li>
                    <li><a href="/lodash/array#takeRight"><i class="fa fa-circle-o"></i>_.takeRight</a></li>
                    <li><a href="/lodash/array#takeRightWhile"><i class="fa fa-circle-o"></i>_.takeRightWhile</a></li>
                    <li><a href="/lodash/array#takeWhile"><i class="fa fa-circle-o"></i>_.takeWhile</a></li>
                    <li><a href="/lodash/array#union"><i class="fa fa-circle-o"></i>_.union</a></li>
                    <li><a href="/lodash/array#unionBy"><i class="fa fa-circle-o"></i>_.unionBy</a></li>
                    <li><a href="/lodash/array#unionWith"><i class="fa fa-circle-o"></i>_.unionWith</a></li>
                    <li><a href="/lodash/array#uniq"><i class="fa fa-circle-o"></i>_.uniq</a></li>
                    <li><a href="/lodash/array#uniqBy"><i class="fa fa-circle-o"></i>_.uniqBy</a></li>
                    <li><a href="/lodash/array#uniqWith"><i class="fa fa-circle-o"></i>_.uniqWith</a></li>
                    <li><a href="/lodash/array#unzip"><i class="fa fa-circle-o"></i>_.unzip</a></li>
                    <li><a href="/lodash/array#unzipWith"><i class="fa fa-circle-o"></i>_.unzipWith</a></li>
                    <li><a href="/lodash/array#without"><i class="fa fa-circle-o"></i>_.without</a></li>
                    <li><a href="/lodash/array#xor"><i class="fa fa-circle-o"></i>_.xor</a></li>
                    <li><a href="/lodash/array#xorBy"><i class="fa fa-circle-o"></i>_.xorBy</a></li>
                    <li><a href="/lodash/array#xorWith"><i class="fa fa-circle-o"></i>_.xorWith</a></li>
                    <li><a href="/lodash/array#zip"><i class="fa fa-circle-o"></i>_.zip</a></li>
                    <li><a href="/lodash/array#zipObject"><i class="fa fa-circle-o"></i>_.zipObject</a></li>
                    <li><a href="/lodash/array#zipObjectDeep"><i class="fa fa-circle-o"></i>_.zipObjectDeep</a></li>
                    <li><a href="/lodash/array#zipWith"><i class="fa fa-circle-o"></i>_.zipWith</a></li>

                    
                </ul>

            </li>

            <li class="treeview">
                <a href="javascript:void(0);">
                    <i class="fa fa-flag"></i>
                    <span>源码 - Collection</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    
                </ul>

            </li>


        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

{% endblock %}