<header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>源</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <b>源码解读</b>
        </span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                
                <li class="{% if headerNav == 'bootstrap' %}active{% endif %}">
                    <a href="/bootstrap">Bootstrap</a>
                </li>
                <li class="{% if headerNav == 'lodash' %}active{% endif %}">
                    <a href="/lodash">Lodash</a>
                </li>
                <li class="{% if headerNav == 'moment' %}active{% endif %}">
                    <a href="/moment">Moment</a>
                </li>
                {#
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
                #}
            </ul>
        </div>
    </nav>
</header>