{% extends "../_layouts/layout_lodash.html" %} 
{% set title = "欢迎解读 Lodash" %} 
{% set pageActive = "description" %} 



{% block body %}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Lodash 说明</h3>
    </div>

    <div class="box-body">
        <p>Lodash</p>
        <ol>
            <li><a target="_blank" href="https://github.com/lodash/lodash/tree/4.17.4" >GitHub地址</a></li>
            <li><a target="_blank" href="https://lodash.com/docs/4.17.4" >官方文档</a></li>
            <li><a target="_blank" href="http://www.css88.com/doc/lodash/" >中文文档</a></li>
        </ol>
    </div>

</div>

{% endblock %}