{% extends "../_layouts/layout_lodash.html" %} 
{% set title = "欢迎解读 Lodash" %} 
{% set pageActive = "number" %} 



{% block body %}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">number 说明</h3>
    </div>

    <div class="box-body">
        <p>number</p>
        
    </div>

</div>

<!--====================================_.clamp==================开始=========================-->
<div class="box box-danger collapsed-box">

    <div class="box-header with-border header-toggle" data-widget="collapse">
        <h3 class="box-title"><a name="clamp" class="badge anchor"></a>_.clamp(number, [lower], upper)</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></button>
        </div>
    </div>


    <div class="box-header with-border">
        <p>
            <span class="desc-title label label-success">说明</span>
            <span class="desc-detail">
                返回限制在 lower 和 upper 之间的值。
            </span>
        </p>
        <p>
            <span class="version-title label label-warning">版本</span>
            <span class="version-value">4.0.0</span>
        </p>
        <p class="parameters-title label label-info">参数</p>
        <ol>
            <li>number (number): 被限制的值。</li>
            <li>[lower] (number): 下限。</li>
            <li>upper (number): 上限。</li>
        </ol>
        <p class="return-title label label-danger">返回</p>
        <p class="return-detail">(number): 返回被限制的值。</p>
    </div>

    <div class="box-body bg-light">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_01_01" data-toggle="tab" aria-expanded="true">示例</a>
                </li>
                <li class="">
                    <a href="#tab_01_02" data-toggle="tab" aria-expanded="false">源码</a>
                </li>
        
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_01_01">
                    <pre>
                        <code class="lang-js">
_.clamp(-10, -5, 5);
// => -5

_.clamp(10, -5, 5);
// => 5
                        </code>
                    </pre>
                </div>
        
                <div class="tab-pane" id="tab_01_02">
                    <pre>
                        <code class="lang-js">
/**
* Clamps `number` within the inclusive `lower` and `upper` bounds.
*
* @static
* @memberOf _
* @since 4.0.0
* @category Number
* @param {number} number The number to clamp.
* @param {number} [lower] The lower bound.
* @param {number} upper The upper bound.
* @returns {number} Returns the clamped number.
* @example
*
* _.clamp(-10, -5, 5);
* // => -5
*
* _.clamp(10, -5, 5);
* // => 5
*/
function clamp(number, lower, upper) {
    if (upper === undefined) {
        upper = lower;
        lower = undefined;
    }
    if (upper !== undefined) {
        upper = toNumber(upper);
        upper = upper === upper ? upper : 0;
    }
    if (lower !== undefined) {
        lower = toNumber(lower);
        lower = lower === lower ? lower : 0;
    }
    return baseClamp(toNumber(number), lower, upper);
}
                        </code>
                    </pre>
                </div>

            </div>
        
        </div>
    </div>

</div>
<!--====================================_.xxxxxx==================结束=========================-->




{% endblock %}